
@import url(ttps://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .logo img {
        height: 30px;
    }
}

.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 2rem;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    align-items: center;
    z-index: 100;
    text-align: center;
}

    .header-nav::after {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(50, 130, 184, 0.3));
        transition: 0.5s;
    }

    .header-nav:hover::after {
        left: 100%;
    }

.logo {
    font-size: 3rem;
    color: #fff;
    color: #FFD700;
    text-decoration: none;
    font-weight: 700;
}

    .logo img {
        height: 72px;
    }

.header-nav a {
    font-size: 1.3rem;
    color: #FFD700;
    text-decoration: none;
    font-weight: 600;
    margin-left: 1.5rem;
    transition: 0.3s;
    letter-spacing: 2px;
}

.header-nav .page-type {
    font-size: 1.5rem;
    color: #FF8C00;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
}


.contact-body {
    background-image: url("/assets/background/art.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 10rem;
}

.font-contact {
    font: bold;
}

.details-contact {
    padding: 1.5em;
    margin: 2em auto;
    background-color: #fff;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    border: 1px solid #ccc;
    max-width: 600px;
    min-width: 600px;
    margin: 0 auto;
    resize: none;
    background-image: url("/assets/background/scroll.jpg");
}

    .details-contact:hover {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }

    .details-contact form {
        display: flex;
        flex-direction: column;
    }

    .details-contact label {
        margin-bottom: 0.5em;
        font-size: 0.9rem;
        display: block;
        margin: 1em auto 0;
    }

input, textarea {
    padding: 0.4em;
    margin-bottom: 0.8em;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
    resize: none;
}

    input:focus, textarea:focus {
        border-color: #965909;
        box-shadow: 0 0 8px rgba(148, 85, 3, 0.5);
        outline: none;
        animation: focus-effect 0.3s ease;
    }

@keyframes focus-effect {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}


button[type="submit"] {
    display: inline-block;
    background-color: #965909;
    color: #fff;
    border: none;
    padding: 0.6em 1.2em;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 1rem;
}

button[type="submit"] {
    position: relative;
    overflow: hidden;
}

    button[type="submit"]::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        transition: left 0.3s ease-in-out;
    }

    button[type="submit"]:hover::before {
        left: 100%;
    }

    button[type="submit"]:hover {
        background-color: #270c02;
        transform: translateY(-2px);
    }

    button[type="submit"]:focus {
        outline: none;
        box-shadow: 0 0 10px rgba(148, 85, 3, 0.5);
    }
